<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>Registrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autenticazione</servlet-name>
        <servlet-class>Autenticazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletJson</servlet-name>
        <servlet-class>ServletJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFesta</servlet-name>
        <servlet-class>CreateFesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeInviti</servlet-name>
        <servlet-class>HomeInviti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePartecipo</servlet-name>
        <servlet-class>HomePartecipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UtentiPreferiti</servlet-name>
        <servlet-class>UtentiPreferiti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaFesta</servlet-name>
        <servlet-class>ModificaFesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaFesta</servlet-name>
        <servlet-class>VisualizzaFesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaUtente</servlet-name>
        <servlet-class>VisualizzaUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccettaInvito</servlet-name>
        <servlet-class>AccettaInvito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AggiungiPreferito</servlet-name>
        <servlet-class>AggiungiPreferito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaInvito</servlet-name>
        <servlet-class>EliminaInvito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaPreferito</servlet-name>
        <servlet-class>EliminaPreferito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeNonPartecipo</servlet-name>
        <servlet-class>HomeNonPartecipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvitaFesta</servlet-name>
        <servlet-class>InvitaFesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvitoNonSo</servlet-name>
        <servlet-class>InvitoNonSo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RifiutaInvito</servlet-name>
        <servlet-class>RifiutaInvito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUtenti</servlet-name>
        <servlet-class>ViewUtenti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaPartecipanti</servlet-name>
        <servlet-class>VisualizzaPartecipanti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Immagine</servlet-name>
        <servlet-class>Immagine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaUtente</servlet-name>
        <servlet-class>ModificaUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciDj</servlet-name>
        <servlet-class>InserisciDj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRuolo</servlet-name>
        <servlet-class>ViewRuolo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaRuolo</servlet-name>
        <servlet-class>ModificaRuolo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciOggetto</servlet-name>
        <servlet-class>InserisciOggetto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewIdRegistrazione</servlet-name>
        <servlet-class>ViewIdRegistrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RicercaActivity</servlet-name>
        <servlet-class>RicercaActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ricerca</servlet-name>
        <servlet-class>Ricerca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaDescrizioneFesta</servlet-name>
        <servlet-class>ModificaDescrizioneFesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificaModifiche</servlet-name>
        <servlet-class>NotificaModifiche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificheInvito</servlet-name>
        <servlet-class>NotificheInvito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/Registrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticazione</servlet-name>
        <url-pattern>/Autenticazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletJson</servlet-name>
        <url-pattern>/ServletJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFesta</servlet-name>
        <url-pattern>/CreateFesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeInviti</servlet-name>
        <url-pattern>/HomeInviti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePartecipo</servlet-name>
        <url-pattern>/HomePartecipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UtentiPreferiti</servlet-name>
        <url-pattern>/UtentiPreferiti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaFesta</servlet-name>
        <url-pattern>/ModificaFesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaFesta</servlet-name>
        <url-pattern>/VisualizzaFesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaUtente</servlet-name>
        <url-pattern>/VisualizzaUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccettaInvito</servlet-name>
        <url-pattern>/AccettaInvito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AggiungiPreferito</servlet-name>
        <url-pattern>/AggiungiPreferito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaInvito</servlet-name>
        <url-pattern>/EliminaInvito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaPreferito</servlet-name>
        <url-pattern>/EliminaPreferito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeNonPartecipo</servlet-name>
        <url-pattern>/HomeNonPartecipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvitaFesta</servlet-name>
        <url-pattern>/InvitaFesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvitoNonSo</servlet-name>
        <url-pattern>/InvitoNonSo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RifiutaInvito</servlet-name>
        <url-pattern>/RifiutaInvito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUtenti</servlet-name>
        <url-pattern>/ViewUtenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaPartecipanti</servlet-name>
        <url-pattern>/VisualizzaPartecipanti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Immagine</servlet-name>
        <url-pattern>/Immagine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaUtente</servlet-name>
        <url-pattern>/ModificaUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciDj</servlet-name>
        <url-pattern>/InserisciDj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRuolo</servlet-name>
        <url-pattern>/ViewRuolo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaRuolo</servlet-name>
        <url-pattern>/ModificaRuolo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciOggetto</servlet-name>
        <url-pattern>/InserisciOggetto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewIdRegistrazione</servlet-name>
        <url-pattern>/ViewIdRegistrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RicercaActivity</servlet-name>
        <url-pattern>/RicercaActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ricerca</servlet-name>
        <url-pattern>/Ricerca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaDescrizioneFesta</servlet-name>
        <url-pattern>/ModificaDescrizioneFesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificaModifiche</servlet-name>
        <url-pattern>/NotificaModifiche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificheInvito</servlet-name>
        <url-pattern>/NotificheInvito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
